$color-white: #fff;
$color-gray: #777;
$color-teal: #58e1c1;
$color-lightblue: #51ddfc;
$color-eggshell: #ccc;
$color-lightred: #e4757a;
$color-lightpurp: #927bc1;
$color-green: #63cc82;
$color-orange: #fd7856;


$breakpoint: 768px;