/* ============================================= */
/*              Buttons                          */
/* ============================================= */


.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-lightblue;
    &:hover {
      background-color: lighten($color-lightblue, 10%)
    }
  }
  
  .error {
    background-color: $color-lightred;
    &:hover {
      background-color: lighten($color-lightred, 10%)
    }
  }
  
  .info {
    background-color: $color-lightpurp;
    &:hover {
      background-color: lighten($color-lightpurp, 10%)
    }
  }
  
  .success {
    background-color: $color-green;
    &:hover {
      background-color: lighten($color-green, 10%)
    }
  }
  
  .warning {
    background-color: $color-orange;
    &:hover {
      background-color: lighten($color-orange, 10%)
    }
  }